
table {
    margin-bottom: 20px;
}

td button {
    margin-right: 10px;
}

.red {
    color: rgba(255, 0, 0, 0.837);
}

.green {
    color: rgba(0, 128, 0, 0.841);
}

.button {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
 .side {
   margin: 0 10px; 
 }



