
table {
    margin-bottom: 20px;
}

td button {
    margin-right: 10px;
}

.red {
    color: rgba(255, 0, 0, 0.837);
}

.green {
    color: rgba(0, 128, 0, 0.841);
}

mat-form-field {

    position: relative;
    left: 90px;
    bottom: 50px;
   
   
}

.search {
    position: relative;
    left: 320px;
    bottom: 120px;
   
    
}

